$boolean: true !default;
@mixin simple-mixin {
   @if $boolean {
       @debug "$boolean is #{$boolean}";
       display: block;
   }
   @else {
       @debug "$boolean is #{$boolean}";
       display: none;
   }
}

.some-selector {
   @include simple-mixin;
}